extends layout

block content
  .row 
    .col-md-12 
      p.hero
        image(src='/hero-image-2.png', alt='Whispr, Just Connect for Whanganui', width='100%')
  .row 
    .col-md-12 
      h1 Coverage
      p.lead At Whispr we're committed to providing the Whanganui community with great internet.
      p 
        a(href="https://www.tuatahifibre.co.nz",target="_blank") Check your address on the Tuatahi Fibre coverage map
      p
        image(src="/Whanganui-Maps-for-WHISPR-website.jpg", width='100%')
  hr
  .row
    .col-md-6
      h2 Whispr Today
      p Explore our coverage map, check your address, and become part of Whispr connected community in Whanganui. You'll see the Whispr service area in yellow, framed by a dark yellow edge.
    .col-md-6
      h2 Whispr Tomorrow
      p We're working hard to expand our coverage.  Keep an eye on our site and our coverage map for updates.
  hr
