extends layout

block content
  .row 
    .col-md-12 
      p.hero
        image(src='/hero-image-2.png', alt='Whispr, Just Connect for Whanganui', width='100%')
  .row 
    .col-md-12 
      h1 Coverage
      p Coverage area