extends layout

block content
  .row
    .col-md-12 
      p.hero
        image(src='/hero-image-2.png', alt='Whispr, Just Connect for Whanganui', width='100%')
  .row
    .col-md-12 
      h1 Pricing
      p.lead At Whispr we take a unique approach to pricing.
      p We're committed to a by local, for local, approach to delivering great internet, supporting our community by offering our whanau the best priced fibre internet available.
      p Check out our innovative name-your-price residential pricing plan and our high spec business internet plans.
  hr
  .row
    .col-md-6 
      h2 Residential
      p.lead Name-Your-Price Residential Internet
      p At Whispr we're offering Whanganui households affordable, high-speed fibre internet with a twist.
      p Our unique Name-Your-Price service is making high speed accessible to more local whanau.
      p We're giving our residential customers the opportunity to pay the lowest available price for their home internet, while giving those who can afford to pay more the opportunity to do just that.
      p When you're able to pay more than the minimum monthly subscription the extra you pay supports not just your online needs but our whole community, by helping us to keep the minimum monthly subscription as low as possible.
      p Choose to pay more and directly contribute to our community's future, providing greater access to education, building digital capability within our community and enhancing digital equality for all.
      p From as low as <span style="font-size: 20px; color: blue">$65</span> incl.gst per month
    .col-md-6 
      h2 Business
      p.lead Just Great Business Internet
      p At Whispr we are committed to delivering full speed and full service for Whanganui's thriving business community. 
      p We're on a mission to empower our community through enhanced access to quality internet, fostering digital equity, and promoting inclusion.
      p Our Business-Grade Internet is designed to support your business success, while your choice to connect with Whispr supports our local community. We offer our business customers great internet at competitive prices, offered locally and supported locally.
      p When you select Whispr as your ISP your monthly subscription is an investment in our community.  Every dollar you spend helps us continue to offer affordable internet to our community, enhancing digital equity, supporting educational opportunities, and building capability within our whanau.
      p We're more than just an internet connection; we're your local partner in success
      p From as low as <span style="font-size: 20px; color: blue">$130</span> incl.gst per month
  hr