extends layout

block content
  .row 
    .col-md-12 
      p.hero
        image(src='/hero-image-2.png', alt='Whispr, Just Connect for Whanganui', width='100%')
  .row 
    .col-md-12
      h1 Why Whispr?
      p.lead In an increasingly interconnected world, where digital access has become pivotal to progress and growth, Whispr is a transformative community initiative, championing the cause of digital equity and inclusion. 
      p Our mission, etched in the pursuit of enhancing access to quality internet, embodies a profound commitment to connect and empower all individuals and businesses within the broader Whanganui community.  Whispr recognises that quality internet is not merely a luxury, but a fundamental right that holds the key to unlocking untapped potential. By focusing on enhancing access to reliable and high-speed internet, Whispr is dedicated to removing the barriers that hinder connectivity, education, progress, and innovation. This commitment extends beyond technology itself, transcending into the empowerment of lives and fostering socio-economic development. 
      p Inclusion is not just a philosophy at Whispr; it's a strategic imperative. We firmly believe that inclusivity is the cornerstone of a prosperous society. By democratising access to information and communication, we empower individuals to connect, learn, and collaborate without constraints. This approach strengthens our community fabric and cultivates an environment where diversity thrives, leading to innovative breakthroughs and a harmonious coexistence. Whispr vision aligns closely with the transformative power of education. By ensuring that every learner has access to the wealth of knowledge available online, we contribute to levelling the educational playing field. 

  hr
  .row 
    .col-md-6 
      h2 Mission Statement
      p At Whispr, our mission is to empower our community through enhanced access to quality internet, fostering digital equity, and promoting inclusion. We believe that access to reliable and high-speed internet is not just a luxury, but a fundamental right that can transform lives, enrich education, enable economic growth, and strengthen connections. 
      h2 Values 
      ul 
        li We are governed by the following values:
        li Manaakitanga – We respect and value people, communities, and the environment today and for future generations
        li Whakamanataka – We empower, inspire, and enable others to succeed
        li Māia – We are courageous in shaping a better future
        li Mauri oho – We are strengthened through energy and creativity
        li Tikanga – We incorporate practice and values from mātauranga Māori
        li Tika / Pono – We are responsible and act with integrity

    .col-md-6
      h2 Digital Equity 
      p The Department of Internal Affairs in New Zealand defines digital inclusion as an end-state where everyone has equitable opportunities to participate in society using digital technologies. With more services going exclusively online, particularly government services, those of us not able to access those services are becoming increasingly disadvantaged. 
      p A growing body of research indicates digital engagement can play a significant role in improving social outcomes and individual wellbeing through opportunities available in the digital world. It describes 4 interdependent elements needed for a person to be digitally included: Access, Skills, Trust and Motivation. DIA estimates that 1 in 5 New Zealanders lack at least one of the four elements.
  hr
  .row
    .col-md-12
      h2 Partners
      p
        image(src="/BackhouseLogo_Web_Landscp_BlkonWhite_Transparent.png", width='260px', style="margin-right: 20px;")
        image(src="/tuatahi.png", width='250px', style="margin-right: 20px;")
        image(src="/deca-logo.png", width='250px', style="margin-right: 20px;")
